


.div-inline
			{
				display:inline-block;
			}

.navbar_text1
			{
				color:White;
				font-style:bold;
			}	
			
			
.row1{
top:500px;
background-color:#344A5F;

}


			
			
.navigationbar1	
			{
			   	font-size:10px;
				top:259px;
				left:0;
				right:0;
				height:45px;
			}
			
.navbar_style1
			{
			
				background-color:#344A5F;
				
			}
			
	ul.nav a:hover  { background:#2D3E52;  }
	ul.nav a:focus  { background:#2D3E52;  }

	

.gevrek
		{
			background:#2D3E52; 
		}	




			
.paragrafTxT	
		{
			font-size:15px;
			color:black;
			text-align:center;
			font-weight:bold;
		}

				
.scrolling
		{
			overflow-y: scroll;
			max-height: 380px;
		}
		
	